{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}<u>Blacklist Policies</u>{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<div class="row base-margin-bottom">
			<div class="col-12 panel panel--raised" style="background-color:#ced4da;">
				<div class="row base-margin-top">
					<div class="col-3"></div>
					<div class="col-6" style="text-align:center;"><h3><u>Recent Tasks:</u></h3></div>
					<div class="col-3"></div>
				</div>

				<div class="row base-margin-top">
					<div class="col-1"></div>
					<div class="col-10">
						<div class="responsive-table">
							<table class="table table--striped table--bordered" aria-label="Bordered Blacklist table" style="background-color:white;">
								<thead>
									<tr>
										<th class="col-2 sortable">Type: <span class="sort-indicator icon-dropdown"></span></th>
										<th class="col-4 sortable">Date/Time: <span class="sort-indicator icon-dropdown"></span></th>
										<th class="col-6 sortable">Description: <span class="sort-indicator icon-dropdown"></span></th>
									</tr>
								</thead>
								<tbody>
									{% for task in task_List %}
									<tr>
										<td>{{ task['type'] }} </td>
										<td>{{ task['task_time'] }}</td>
										<td>{{ task['description'] }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 panel panel--raised" style="background-color:#ced4da;">
				<div class="row base-margin-top">
					<div class="col-3"></div>
					<div class="col-6" style="text-align:center;"><h3><u>Active Blacklist:</u></h3></div>
					<div class="col-3"></div>
				</div>
				<div class="row base-margin-top">
					<div class="col-1"></div>
					<div class="col-10">
						<div class="form-group base-margin-bottom">
							<div class="form-group__text">
								<textarea id="textarea-state-readonly" style="background-color:white;" rows="15" readonly>
									{% for ip in blacklist_Data %}
									{{ ip }}
									{% endfor %}
								</textarea>
								<label for="textarea-state-readonly">{{ session['autoUpdateBlacklist'] }}</label>
							</div>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}